<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.piao888.ssm.mapper.LogininfoMapper" >
  <resultMap id="BaseResultMap" type="top.piao888.ssm.domain.Logininfo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="TINYINT" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from `logininfo`
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="top.piao888.ssm.domain.Logininfo" useGeneratedKeys="true" keyProperty="id" >
    insert into `logininfo` (username, password, state
      )
    values (#{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{state,jdbcType=TINYINT}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="top.piao888.ssm.domain.Logininfo" >
    update `logininfo`
    set username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      state = #{state,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select id, username, password, state
    from `logininfo`
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, username, password, state
    from `logininfo`
  </select>
  <!--手写动态sql-->
  <select id="findlogininfo" parameterType="top.piao888.ssm.domain.Logininfo" resultType="top.piao888.ssm.domain.Logininfo">
    select * from logininfo where 1=1
    <if test="id!=null">
     and id = #{id}
    </if>
    <if test="username!=null">
      and username = #{username}
    </if>
    <if test="password!=null">
      and password = #{password}
    </if>
    <if test="username!=null">
      and state = #{state}
    </if>
  </select>
  <select id="fuzzylogininfo" parameterType="top.piao888.ssm.domain.Logininfo" resultType="top.piao888.ssm.domain.Logininfo">
    select * from logininfo
      <where>
        <if test="id!=null">
          and id like #{id}
        </if>
        <if test="username!=null">
          and username like #{username}
        </if>
        <if test="password!=null">
          and password like #{password}
        </if>
        <if test="username!=null">
          and state like #{state}
        </if>
      </where>
  </select>
</mapper>